<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>EasyMappingCoreDataPerfomanceTests</key>
		<dict>
			<key>testCar()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12447</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testCarWithDate()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.24835</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testCarWithNestedAttributes()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.05647</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testCarWithRoot()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.065562</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testCoreDataImport()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0042</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testMale()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.061022</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testPerson()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11447</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testPersonWithNullCar()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.087201</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testPersonWithNullPhones()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.076499</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
		</dict>
		<key>EasyMappingNSObjectPerfomanceTests</key>
		<dict>
			<key>testAddress()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.018352</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testAlien()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.037669</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testCar()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.016326</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testCarWithDate()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.046931</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testCarWithNestedAttributes()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.017019</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testCarWithRoot()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.011238</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testMale()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.017362</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testNative()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.071173</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testNativeChild()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.014656</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testPerson()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.061099</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testPersonWithNullCar()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033281</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testPersonWithNullPhones()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.026787</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
			<key>testPlane()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.047293</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 апр. 2017 г., 16:36:52</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
